<html>
	<head>
		<title>Aertel page ##PAGE##</title>
		<!-- Aertel data scraped using https://github.com/cgarvey/scrape-rteaertel -->
		<style type="text/css">
			BODY { background-color: #000; font-family: tahoma, verdana, arial, times; }
			H1 { width: 520px; margin: 20px auto 20px auto; text-indent: -9999px; background: #000 url( "logo.gif" ) no-repeat left; }
			P { text-align: center; width: 520px; margin: 10px auto 30px auto; color: #aaa; font-size: 0.8em; }
			A { color: #aaa; text-decoration: none; }
			A:hover { color: #fff; text-decoration: underline; }
			.fl { float: left; }
			.fr { float: right; }
		</style>
	</head>
	<body>
		<h1>Aertel page ##page##</h1>
		<p>
			<span class="fl">##SUBPAGEPREVIOUS<a href="#LINK#" title="Page #PAGE#">Previous Subpage</a>##</span>
			&nbsp;
			<span class="fr">##SUBPAGENEXT<a href="#LINK#" title="Page #PAGE#">Next Subpage</a>##</span>
		</p>
		<p>

			##CONTENT##

		</p>
		<p>
			<span class="fl">##MAINPAGEPREVIOUS<a href="#LINK#" title="Page #PAGE#">Previous Page</a>##</span>
			&nbsp;
			<span class="fr">##MAINPAGENEXT<a href="#LINK#" title="Page #PAGE#">Next Page</a>##</span>
		</p>
	</body>
</html>

